.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.input-wrapper {
  position: relative;
  max-width: 22.5rem;
}

.label-atom {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.eye-icon {
  position: absolute;
  left: 11rem;
  top: 50%;
  transform: translateY(-42%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.eye-icon.visible {
  color: #3498db;
}

.input-atom {
  display: flex;
  width: 100%;
  height: 2.625rem;
  padding: 0.5625rem 0.6875rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #484848;
  background: #202020;
  transition: border-color 0.3s ease;
  font-size: 0.875rem;
  color: #e3e2e2;
}

.input-atom:target,
.input-atom:active,
.input-atom:hover {
  border-color: #07a5c4;
}

.input-atom.error {
  border-color: #f87171;
}

.input-atom.success {
  border-color: #2ecc71;
}
