@font-face {
  font-family: 'Inter';
  src: local('Inter-Thin'), url('./assets/fonts/Inter-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-ExtraLight'), url('./assets/fonts/Inter-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Light'), url('./assets/fonts/Inter-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Regular'), url('./assets/fonts/Inter-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Medium'), url('./assets/fonts/Inter-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-SemiBold'), url('./assets/fonts/Inter-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'), url('./assets/fonts/Inter-Bold.ttf') format('t.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-ExtraBold'), url('./assets/fonts/Inter-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Black'), url('./assets/fonts/Inter-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}